               server{
                listen 80;
                 server_name localhost;
         charset utf-8,gbk;
    client_max_body_size 100m;
    gzip on;
    gzip_http_version 1.1;
    gzip_comp_level 4;
    gzip_min_length 1000;
    gzip_types  text/plain application/javascript text/css;
        location / {
                        root /usr/share/nginx/html;
                        index index.html index.htm;
                        autoindex on;
                        autoindex_exact_size on;
                        autoindex_format html;
                        autoindex_localtime on;
                        charset utf-8;
try_files $uri $uri/ /index.index?$query_string;
         }
        location ~ ^/(images|javascript|js|css|flash|media|static)/  {
         root    /usr/share/nginx/html;
        index index.html;
        expires 30d;


        }
        location /js/{
                root /usr/share/nginx/html/js;
        }

}
        server{
 listen 81;
         location /img/{
                root /usr/share/nginx/html/img;
        }

}
        server{
              listen 80;
               server_name localhost;

                location /api/{
                proxy_pass http://localhost:8888;
                #proxy_set_header Host $host:8080;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                #root /data/www;
                #autoindex on;
                #index index.html ;
        }

}
}
server {
  listen 80;
  server_name localhost;
  #rewrite ^(.*) https://$server_name$1 permanent; # 配置http自动跳转到https,并携带参数
  # 配置favicon.ico图片地址, 如果没有可以不配
  location = /favicon.ico {
      proxy_redirect     off;
      proxy_pass https://app.example.com/icons/favicon.ico;
      proxy_set_header   Referer   https://app.example.comicons/favicon.ico;
  }
 
  # 配置后台接口的路由
  location ^~/api/ {
      proxy_pass http://localhost:8888;// 这里是api的端口, 也可以填别的域名或者地址
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
 
  # 配置当不是api开头的请求, 默认全转到静态资源目录, 也就是我们打包完dist目录下的index.html的地址
  location / {
      root  /usr/share/nginx/html/dist; # 这里需要看你打包的前端项目放在服务器的那个目录下, 有的教程没有这一步
      #index index.html; # 很多教程说需要配置这一步, 自己测试好像不需要
      try_files $uri $uri/ /index.html; # 如果没有配置上边root 那一行,你的项目又是在某个目录下, 请加目录不然找不到 栗子: try_files $uri $uri/ /dist/index.html
  }
 
}